// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.cart-btn {
	margin-top: 10px;

}

.cart-block {
	margin: 5px 5px 10px 5px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.cart-block .pull-right { float: left; }