// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-table .user-level-col {
	width: 200px;
}

#user-table .user-level-input {
	margin-bottom: 0px;
	width: 80px;
}